[submodule "csf"]
	path = csf
	url = git://github.com/installation/csf.git
[submodule "lmd"]
	path = lmd
	url = git://github.com/installation/lmd.git
[submodule "rkhunter"]
	path = rkhunter
	url = git://github.com/installation/rkhunter.git
[submodule "chkrootit"]
	path = chkrootit
	url = git://github.com/installation/chkrootkit.git
